.estilo-titulo {
    background-color: #bd0ac7;
    color: #ffffff;
    width: 800px;
    height: 50px;
    text-align: center;
}

.estilo-menu {
    background-color: #9b02ff;
    width: 800px;
    height: 50px;
}

.estilo-informacion {
    float: right;
}

.estilo-datosroom {
    background-color: #ff6a00;
    width: 400px;
    height: 200px;
    float: left;
}

.estilo-datossensores {
    background-color: #da5304;
    width: 400px;
    height: 200px;
    float: left;
}

.estilo-footer {
    background-color: #0a15c8;
    text-align: center;
    color: #ffffff;
    width: 800px;
    height: 50px;
    clear: both;
}

#columnas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

    #columnas > div {
        width: 400px;
    }


.estilo-datosroom-info {
    background-color: #ff6a00;
    width: 800px;
    height: 200px;
    float: left;
}